*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #616161;
}
.contenedor-cursos{
    display: flex;
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.caja-curso{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    width: 30%;
    height: 120px;
    background-color: #535353;
    padding: 1rem;
    border-radius: 5px;
}
.nombre-curso{
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: -10px;
}
.nombre-curso h2 a{
    text-decoration: none;
    color: white;
}
.descripcion-curso {
    margin-top: 8px;
}
.descripcion-curso h3{
    float: right;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    color: rgb(224, 224, 224);
}
.descripcion-curso p{
    float: left;
    width: 70%;
    height: 68px;
    overflow-y: scroll;
    color: rgb(155, 155, 155);
}
.calificacion-curso{
    padding-top: 4px;
    width: 100%;
    height: 20px;
    text-align: end;
    margin-top: 8px;
    color: white;
}
@media (max-width: 800px) {
    /* Aplicar flex-direction: column cuando la pantalla sea igual o menor a 800px */
    .contenedor-cursos {
      flex-direction: column;
      display:block;
    }
    .caja-curso{
        margin-top: 80px;
        width: 80%;
    }
}
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  