*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../assets/fondo.png');
}
.input {
    --input-focus: #d2d2d3;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #111111;
    --main-color: #777777;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
.contenedor-cursos-seccion{
    display: grid;
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: 715px;
    overflow-y: auto;
    grid-template-columns: repeat(1, 1fr);
}

.envio-respuesta-uav-en-camino{
    position: absolute;
    width: 100%;
    height: 20%;
}
.calificacion{
    display: flex;
    position: absolute;
    padding-top: 45px;
    margin: 30px 10px;
    height: 50px;
    width: 30%;
}
.envio-respuesta-uav-en-camino form{
    width: 100%;
}

.envio-respuesta-uav-en-camino input{
    float: left;
    width: 90%;
}
.envio-respuesta-uav-en-camino button{
    float: right;position: absolute;
    width: 10%;
    height: 90%;
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
    border-radius: 2px;
}
.envio-respuesta-uav-en-camino button:active{
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}
@media screen and (min-width: 900px){
  .contenedor-cursos-seccion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 715;
    overflow-y: auto;
  }
}
.caja-curso{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    height: 120px;
    background-color: #535353;
    padding: 1rem;
    border-radius: 5px;
}
.comentarios{
    display: flex;
    position: absolute;
    margin-top: 800px;
    padding: 10px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(81, 81, 82);
    flex-direction: column;
}
.contenedor-cursos{
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: 600px;
    justify-content: center;
}
.titulo{
    width: 100%;
    color: white;
}
.comment{
    width: 100%;
    height: 255px;
    overflow-y: auto;
    color: rgb(136, 136, 136);
}
.nombre-curso-seccion{
    display: flex;
    width: 100%;
    height: 40px;
    overflow-y: auto;
    margin-top: -10px;
}
.nombre-curso-seccion h2 a{
    text-decoration: none;
    color: white;
}
.descripcion-curso-seccion {
    margin-top: 30px;
}
.descripcion-curso-seccion p{
    float: left;
    width: 100%;
    height: 48px;
    overflow-y: scroll;
    color: rgb(155, 155, 155);
}
.comment table{
    width: 100%;
}
.comment table tbody tr td h4{
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    height: 80px;
    overflow-y: auto;
}
@media (max-width: 800px) {
    /* Aplicar flex-direction: column cuando la pantalla sea igual o menor a 800px */
    .contenedor-cursos {
      flex-direction: column;
      display:block;
    }
    .caja-curso{
        margin-top: 80px;
        width: 80%;
    }
}
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 40px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  
  .boton-cali{
    position: absolute;
    float: left;
    margin-top: 4px;
    margin-left: 200px;
    width: 50px;
    height: 40px;
    background-color: #d2d2d3;
  }
  .boton-cali button{
    float: right;position: absolute;
    width: 100%;
    height: 100%;
    font-family: inherit;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
    border-radius: 2px;
  }
  .boton-cali button:active{
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
  }
  